.calendar-container {
  padding: 20px;
  background-color: aqua;
}

.event-list {
  margin-top: 20px;
}

.event-item {
  background-color: #1890ff;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.add-event-button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #52c41a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content {
  padding: 20px;
}

.modal-header {
  margin-top: 0;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form > label {
  margin-top: 10px;
}

.modal-form > input,
.modal-form > textarea {
  padding: 8px;
  margin-top: 5px;
}

.modal-form > button {
  margin-top: 20px;
  padding: 10px;
  background-color: #1890ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button{
  display: none !important;
}

.react-calendar__navigation__label {
  font-size: 1.2em;
  font-weight: bold;
}