/* 오버레이 기본 스타일 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay.active {
  display: block;
  opacity: 1;
}

/* 네비게이션 바 스타일 */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  background-color: #333;
  transition: width 0.3s ease;
  z-index: 1000;
}

.navbar.collapsed {
  width: 60px;
}

.navbar:not(.collapsed) {
  width: 150px;
}

@media (max-width: 768px) {
  .navbar {
    width: 50px;
  }

  .navbar.collapsed {
    width: 50px;
  }

  .navbar:not(.collapsed) {
    width: 120px;
  }
}

/* 네비게이션 아이템 스타일 */
.nav-items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item {
  margin: 20px 0;
}

.nav-link, .logout-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  width: 100%;
}

.nav-name {
  font-size: 15px;
  margin-left: 5px;
  transition: color 0.3s ease;
}

.logout-button {
  background: none;
  border: none;
  font-size: 24px;
}

.nav-icon {
  font-size: 24px;
  color: white;
}

/* 햄버거 버튼과 로그아웃 버튼 호버 스타일 */
.nav-item:hover .nav-icon,
.nav-item:hover .nav-name {
  color: gray; /* 아이콘과 텍스트가 동시에 회색으로 변경 */
}

/* 추가적으로 햄버거 버튼과 로그아웃 버튼도 호버 적용 */
.nav-icon:hover {
  color: gray;
  transition: 0.3s ease;
}

/* 로그아웃 버튼과 햄버거 버튼이 가운데 정렬되도록 */
.logout {
  margin-top: auto;
}

.hidden {
  display: none;
}