.organization-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.ceo {
  margin-bottom: 30px;
  text-align: center;
}

.first-row,
.second-row,
.third-row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.employee-node {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 0 10px;
  text-align: center;
  border-radius: 8px;
  width: 200px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.employee-info p {
  margin: 5px 0;
}

.first-row .employee-node {
  background-color: #e0f7fa; /* 부서장에게 다른 색상 */
}

.second-row .employee-node {
  background-color: #ffecb3; /* 팀장에게 다른 색상 */
}

.third-row .employee-node {
  background-color: #c8e6c9; /* 팀원에게 다른 색상 */
}

.fourth-row .employee-node {
  background-color: #d4c8e6; /* 팀원에게 다른 색상 */
}

.second-and-third-rows {
  margin-top: 20px;
}

.employee-node:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
