/* src/Dashboard.css */
.lock-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  margin: 20px;
  outline: none;
  transition: color 0.3s, transform 0.3s;
  color: rgb(223, 185, 13);
}

.lock-button:hover {
  color: #a99510; /* 호버 시 색상 변경 */
}

.widget-header {
  cursor: grab;
  margin-bottom: 10px;
  font-weight: bold;
}

.widget-header-locked {
  cursor: default; /* 잠금 상태에서 기본 커서로 변경 */
}

.lock-button:active {
  transform: scale(0.95);
}